#!version:1.0.0.1

##File header "#!version:1.0.0.1" can not be edited or deleted, and must be placed in the first line.##


wallpaper_upload.url = {$yealink_t54_wallpaper}
phone_setting.backgrounds={$yealink_t54_wallpaper|regex_replace:"|.*/([^/]*)|":"$1"}
static.firmware.url = {$yealink_firmware_url}/{$yealink_firmware_t54w}
static.wifi.enable = {$yealink_wifi_enable}
static.wifi.1.label = {$yealink_wifi1_label}
static.wifi.1.ssid = {$yealink_wifi1_ssid}
static.wifi.1.security_mode = {$yealink_wifi1_security}
static.wifi.1.password = {$yealink_wifi1_password}
static.wifi.2.label = {$yealink_wifi2_label}
static.wifi.2.ssid = {$yealink_wifi2_ssid}
static.wifi.2.security_mode = {$yealink_wifi2_security}
static.wifi.2.password = {$yealink_wifi2_password}
static.wifi.1.cipher_type = 
static.wifi.1.priority =
static.wifi.1.eap_type =
static.wifi.1.eap_user_name =
static.wifi.1.eap_password =
static.wifi.show_scan_prompt =
